<div class="row">
  <div class="col-md-2">
    <table class="table table-bordered table-condensed">
      <thead>
        <tr>
          <th>Meaning</th>
          <th>Color</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Working</td>
          <td class="work-day"></td>
        </tr>
        <tr>
          <td>Off</td>
          <td class="white-bg"></td>
        </tr>
        <tr>
          <td>Conflict (Multiple hitches)</td>
          <td class="conflicting-day"></td>
        </tr>
        <tr>
          <td>Holiday</td>
          <td class="holiday" style='float: left;'></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
