<h1>Add Pilots to <%= @hitch.name %></h1>
<ol class="breadcrumb">
  <li><%= link_to "Manage Hitches", hitches_path %></li>
  <li><%= link_to "Hitch #{@hitch.name}", @hitch %></li>
  <li class="active">Adding Pilots</li>
</ol>
<%= render 'form' %>
