<% (@start_date..@end_date).each do |day| %>
  <th class="text-center">
    <div>
      <span>
        <%= day.strftime('%a') %> 
      </span>
      <span class="new-line">
        <%= day.strftime('%e') %>
      </span>
    </div>
  </th>
<%end%>
