<%@start_date = '2017-07-01'.to_date%>
<%@end_date = '2017-07-31'.to_date%>
<%no_of_days = (@end_date - @start_date).to_i + 1 %>
<%@jobs = Job.limit(10)%>

<table class="table table-bordered" id='monthly_schedule'>
  <thead>
    <tr>
      <th><%= @start_date.strftime('%B') %> <br> Jobs </th>
      <%= render('month_dates')%>
    </tr>
  </thead>
  <tbody>
    <%= render('jobs', :no_of_days => no_of_days)%>
  </tbody>
</table>






<script>
  $(document).ready(function() {
    $("#monthly_schedule").on("click", "td", function() {
      var job_id = $(this).attr("data-job");
      var date = $(this).attr("data-date");
      alert(job_id+'_'+date);

      params_data = {job_id: job_id, date: date};
      $.ajax({
        type: "GET",
        url: "/users/available_pilots.js",
        data: params_data,
        beforeSend: function() {
          console.log('Loading...');
        },
        success: function(resp) {
          alert(resp);
        }
      });
   });
  });
</script>
