<div class="row form-group nested-fields">
  <div class="col-md-6">
    <div class="panel panel-default float-left width-100">
      <div class="panel-heading float-left width-100">
        New Holiday
        <%= link_to_remove_association '<i class="fa fa-trash-o" aria-hidden="true"></i>'.html_safe, f, class: 'float-right btn btn-danger' %>
      </div>
      <div class="panel-body float-left width-100">
        <%= render 'holidays/form', f: f %>
      </div>
    </div>
  </div>
</div>
    
  