<h1>Editing Hitch</h1>
<ol class="breadcrumb">
  <li><%= link_to "Manage Hitches", hitches_path %></li>
  <li class="active">Editing Hitch <%= link_to @hitch.name, @hitch %></li>
</ol>
<%= render 'form' %>

