
<ol class="breadcrumb">
  <li><%= link_to "Manage Calendars", mission_types_path %></li>
  <li class="active">Editing Mission Type <%= link_to @mission_type.name, @mission_type %></li>
</ol>
<%= render 'form' %>
