.btn-login {
	background-color: #59B2E0;
	outline: none;
	color: #fff;
	font-size: 14px;
	height: auto;
	font-weight: normal;
	padding: 14px 0;
	text-transform: uppercase;
	border-color: #59B2E6;
}
.btn-login:hover,
.btn-login:focus {
	color: #fff;
	background-color: #53A3CD;
	border-color: #53A3CD;
}

.spinner {
  display: inline-block;
  opacity: 0;
  width: 0;

  -webkit-animation: spin 1600ms infinite linear;
  animation: spin 1600ms infinite linear;
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

.has-spinner.active {
  cursor:progress;
}

.has-spinner.active .spinner {
  opacity: 1;
  width: auto; /* This doesn't work, just fix for unkown width elements */
}

.has-spinner.btn-mini.active .spinner {
    width: 10px;
}

.has-spinner.btn-small.active .spinner {
    width: 13px;
}

.has-spinner.btn.active .spinner {
    width: 16px;
}

.has-spinner.btn-large.active .spinner {
    width: 19px;
}

.hide{
  display: none;
}
.error, .severe, .alert-error{
  background-color: red;
  font-weight: bold;
}
.warning {
  background-color: #ffaa00;
  font-weight: bold;
}
.advise, .alert-alert{
  background-color: #ffea00;
  font-weight: bold;
}
.amber{
  background-color: #ff9500;
  font-weight: bold;
}
.alert-success {
  background-color: #dff0d8;
  font-weight: bold;
}
div.checkbox{
  display: block;
}

.margin-top-14{
  margin-top: 14px;
}

.overflow-scroll{
  overflow: scroll;
}
.wrapper1, .wrapper2 { overflow-x: scroll; overflow-y: hidden; }
.wrapper1 { height: 20px; }
.div1 { height: 20px; }

.row-horizon {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}
.row-horizon > [class*="col-lg"], .row-horizon > [class*="col-md"], .row-horizon > [class*="col-sm"], .row-horizon > [class*="col-xs"] {
  float: none;
  display: inline-block;
  white-space: normal;
  vertical-align: top;
}
.row-horizon > .col-xs-12 {
  width: 90%;
}
.row-horizon > .col-xs-11 {
  width: 82.5%;
}
.row-horizon > .col-xs-10 {
  width: 75%;
}
.row-horizon > .col-xs-9 {
  width: 67.5%;
}
.row-horizon > .col-xs-8 {
  width: 60%;
}
.row-horizon > .col-xs-7 {
  width: 52.5%;
}
.row-horizon > .col-xs-6 {
  width: 45%;
}
.row-horizon > .col-xs-5 {
  width: 37.5%;
}
.row-horizon > .col-xs-4 {
  width: 30%;
}
.row-horizon > .col-xs-3 {
  width: 22.5%;
}
.row-horizon > .col-xs-2 {
  width: 15%;
}
.row-horizon > .col-xs-1 {
  width: 7.5%;
}
@media (min-width: 768px) {
  .row-horizon > .col-sm-12 {
    width: 90%;
  }
  .row-horizon > .col-sm-11 {
    width: 82.5%;
  }
  .row-horizon > .col-sm-10 {
    width: 75%;
  }
  .row-horizon > .col-sm-9 {
    width: 67.5%;
  }
  .row-horizon > .col-sm-8 {
    width: 60%;
  }
  .row-horizon > .col-sm-7 {
    width: 52.5%;
  }
  .row-horizon > .col-sm-6 {
    width: 45%;
  }
  .row-horizon > .col-sm-5 {
    width: 37.5%;
  }
  .row-horizon > .col-sm-4 {
    width: 30%;
  }
  .row-horizon > .col-sm-3 {
    width: 22.5%;
  }
  .row-horizon > .col-sm-2 {
    width: 15%;
  }
  .row-horizon > .col-sm-1 {
    width: 7.5%;
  }
}
@media (min-width: 992px) {
  .row-horizon > .col-md-12 {
    width: 90%;
  }
  .row-horizon > .col-md-11 {
    width: 82.5%;
  }
  .row-horizon > .col-md-10 {
    width: 75%;
  }
  .row-horizon > .col-md-9 {
    width: 67.5%;
  }
  .row-horizon > .col-md-8 {
    width: 60%;
  }
  .row-horizon > .col-md-7 {
    width: 52.5%;
  }
  .row-horizon > .col-md-6 {
    width: 45%;
  }
  .row-horizon > .col-md-5 {
    width: 37.5%;
  }
  .row-horizon > .col-md-4 {
    width: 30%;
  }
  .row-horizon > .col-md-3 {
    width: 22.5%;
  }
  .row-horizon > .col-md-2 {
    width: 15%;
  }
  .row-horizon > .col-md-1 {
    width: 7.5%;
  }
}
@media (min-width: 1200px) {
  .row-horizon > .col-lg-12 {
    width: 90%;
  }
  .row-horizon > .col-lg-11 {
    width: 82.5%;
  }
  .row-horizon > .col-lg-10 {
    width: 75%;
  }
  .row-horizon > .col-lg-9 {
    width: 67.5%;
  }
  .row-horizon > .col-lg-8 {
    width: 60%;
  }
  .row-horizon > .col-lg-7 {
    width: 52.5%;
  }
  .row-horizon > .col-lg-6 {
    width: 45%;
  }
  .row-horizon > .col-lg-5 {
    width: 37.5%;
  }
  .row-horizon > .col-lg-4 {
    width: 30%;
  }
  .row-horizon > .col-lg-3 {
    width: 22.5%;
  }
  .row-horizon > .col-lg-2 {
    width: 15%;
  }
  .row-horizon > .col-lg-1 {
    width: 7.5%;
  }
}
.no-gutter > [class*='col-'] {
    padding-right:0;
    padding-left:0;
}
legend.the-legend {
  width: auto !important;
  border: none;
  font-size: 14px;
}
fieldset.the-fieldset {
  border: solid 1px #DDD !important;
  padding: 0 10px 10px 10px;
  border-bottom: none;
}
.float-right{
  float: right;
}
.float-left{
  float: left;
}
.dark-odd{
  background-color: #EEE;
}

.center-text{
  text-align: center;
}

.dark-bg{
  background-color: #252830;
}
.white-text{
  color: #FFF;
}
.big-checkbox {
  display:inline-block;
  -webkit-appearance:none;
  font-family: 'FontAwesome';
  width:30px;
  height:30px;
  background:white;
  border-radius:5px;
  border:2px solid #555;
  margin: 0;
  font-size: 26px;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.big-checkbox:before{
  font-size: 0px;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\f096";
}
.big-checkbox:checked:after {
  font-size: 26px;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\f00c";
}


.bs-callout {
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
}
.bs-callout-info {
    border-left-color: #1b809e;
}

.bs-callout h4 {
    margin-top: 0;
    margin-bottom: 5px;
}
.bs-callout-info h4 {
    color: #1b809e;
}
#mapid { height: 180px; }

.lat-lon {
  position: relative;
}

.lat-lon p {
  display: inline-block;
  color: blue;
}

.map-container {
  display: none;
  position: absolute;
  padding: 0;
  margin: 0;
  border: 5px solid #EEE;
  background: #EEE;
  border-radius: 1em;
  width: 350px;
  height: 350px;
  z-index: 1010;
}

.map {
  display: block;
  border-radius: 0.8em;
  max-width: 100%;
  height: auto;
}

.lat-lon:focus figure,
.lat-lon:hover figure {
  display: block;
}
.lat-lon:focus ,
.lat-lon:hover {
  cursor: pointer; 
  cursor: hand; 
}
.pacman-container {
  height: 100px;
  width: 100px;
  position: relative;
  left: 20%;
  top: 32%;
}

.upperJaw {
  height: 50%;
  width: 100%;
  border-radius: 100px 100px 0 0;
  background-color: yellow;
  animation: pakuUp 1s linear infinite;
  transform-origin: center bottom;
}

.lowerJaw {
  height: 50%;
  width: 100%;
  border-radius: 0 0 100px 100px;
  background-color: yellow;
    ;
  animation: pakuDown 1s linear infinite;
  transform-origin: center top;
}

.breadcrumbs {
  position: absolute;
  z-index: -1;
  top: 50%;
  margin-top: -5px;
  height: 10px;
  width: 10px;
  border-radius: 10px;
  background-color: white;
}

.crumb1 {
  animation: food 2s linear 2s infinite;
}

.crumb2 {
  animation: food 2s linear 1.5s infinite;
}

.crumb3 {
  animation: food 2s linear 1s infinite;
}

.crumb4 {
  animation: food 2s linear .5s infinite;
}

@keyframes food {
  0% {
    left: 200px;
  }
  100% {
    left: 0px;
  }
}

@keyframes pakuUp {
  0% {
    transform: rotate(-40deg);
  }
  50% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-40deg);
  }
}

@keyframes pakuDown {
  0% {
    transform: rotate(40deg);
  }
  50% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(40deg);
  }
}

.alert {
    position: absolute;
    top: 5px;
    right: 5px;
    z-index: 10;
}
.asterisk-after:after { content:" *"; }

textarea.md-text-area {
  height: 10em;
}

.tooltip-inner-no-wrap + .tooltip > div.tooltip-inner {
    white-space:pre-wrap;
    text-align: left;
}
.white-space-pre{
  white-space: pre;
}
.row .no-margin-l-r {
  margin-left: 0;
  margin-right: 0;
}

.weekDays-selector input {
  display: none!important;
}

.weekDays-selector input[type=checkbox] + label {
  display: inline-block;
  border-radius: 6px;
  background: #dddddd;
  color: #ffffff;
  height: 40px;
  width: 40px;
  margin-right: 3px;
  line-height: 40px;
  text-align: center;
  cursor: pointer;
}

.weekDays-selector input[type=checkbox]:checked + label {
  background: #3498db;
}

.work-day, .btn-white-blue:hover, .btn-white-blue.active:hover, .btn-white-blue.active:focus, .btn-white-blue.active {
  color: #fff;
  background-color: #337ab7;
  border-color: #2e6da4;
}

.conflicting-day, .btn-white-blue:hover, .btn-white-blue.active:hover, .btn-white-blue.active:focus, .btn-white-blue.active {
  color: #fff;
  background-color: #ff0000;
  border-color: #2e6da4;
}

.job-day, .btn-white-blue:hover, .btn-white-blue.active:hover, .btn-white-blue.active:focus, .btn-white-blue.active {
  color: #fff;
  background-color: #028910;
  border-color: #2e6da4;
}

.btn-white-blue:focus{
  color: #333;
  background-color: #fff;
  border-color: #ccc;
}

.no_bullets {
  list-style-type: none;
}
.dark-overlay
{
    display: block;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width:100%;
    height: 100%;
    position: absolute;
    background: #000;
    opacity: 0.6;
    z-index: 10;
    filter: alpha(opacity=60);
    -moz-transition: all .3s linear;
    -webkit-transition: all .3s linear;
    -ms-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;
    text-align: center;
    vertical-align: bottom;
  }
.abs-center{
  top: 50%;
  left: 50%;
  position: absolute;
}
.white{
  color: white;
}
.position-relative{
  position: relative;
}
.min-height-165{
  min-height: 165px;
}
.no-wrap{
    white-space:nowrap;
    text-align: left;
}
.secondary{
  font-weight: 400;
  line-height: 1;
  color: #777;
}
.width-100{
  width: 100%;
}
.panel-select{
  cursor: pointer;
}
.new-line{
  white-space: pre-line;
}
.work-month h3.center-text{
  line-height: 0.5;
}
.work-month table.table-bordered {
  margin-bottom: 0px;
}
.white-bg{
  background: #fff; 
}
.alternative-white:nth-child(even){
  background: #fff;
}
.holiday:before{
  font-family: FontAwesome;
  content: "\f0f3";
  display: inline-block;
  float: right;
}
.monthly_schedule > td, th {
  white-space: nowrap;
  overflow: hidden;
}
.modelDropDown.select2-container .select2-choice{
  height: 45px;
  padding: 5px 18px 0px 18px;
  border:1px solid #dddddd;
  background: #FFFFFF;
  font-size: 12px;
  font-weight: 200;
  margin: -6px -12px 0px -12px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  border-left:0px;
  border-right:0px;
  border-top: 0px;
}
.modelDropDown.select2-container .select2-choice .select2-arrow{
  border-left: 0px solid #aaa;
  background: #FFFFFF;
  right: 4px;
  top: 4px;
}
.monthly_schedule > thead > tr > th,
.monthly_schedule > tbody > tr > th{
   border: 0.5px solid #373a3c; //fca // eec
}
.monthly_schedule {
   border: 1px solid #373a3c; //fca // eec
}
// #monthly_schedule_wrapper > .row > .col-sm-6{
//   float: right;
// }
.schedule-form-checkbox-padding {
  padding-bottom:15px;
  padding-left:30px;
}
/*.monthly_schedule > tbody > tr > td,
.monthly_schedule > tbody > tr > th,
.monthly_schedule > thead > tr > td,
.monthly_schedule > thead > tr > th {
  padding: 25px;
}
.monthly_schedule > tbody > tr > td {
  font-size: 20px;
}*/
.DTFC_LeftBodyWrapper > .DTFC_LeftBodyLiner > table.monthly_schedule {
  border-right: 0px solid;
}
.DTFC_LeftBodyWrapper > .DTFC_LeftBodyLiner > table.monthly_schedule > tbody > tr > th{
  border-right: 1px solid #373a3c;
}
.monthly_schedule > tbody > tr.subheader-row > td {
  border-right: 0px solid;
  border-left: 0px solid;
  border-top: 0.5px solid #373a3c;
  padding: 5px;
}
table.monthly_schedule > tbody > tr.after-subheader-row > td {
  border-top: 0.5px solid #373a3c;
}

.DTFC_LeftBodyWrapper > .DTFC_LeftBodyLiner > table.monthly_schedule > tbody > tr.subheader-row > th {
  border-right: 0px solid;
  border-left: 0px solid;
}

.DTFC_LeftBodyWrapper > .DTFC_LeftBodyLiner > table.monthly_schedule > tbody > tr.subheader-row:not(:first-child) > th {
  border-right: 0px solid;
  border-left: 0px solid;
  border-top: 0.5px solid #373a3c;
}
table.monthly_schedule > tbody > tr > td.day-off{
  background-color: #373a3c;
}
.pilot-name-container {
  position: relative;
  padding: 2px;
}
.pilot-name-container:hover {
  overflow:hidden;
  padding:2px;
  background-color:#D0D3D4;
  border:0.5px solid #D0D3D4;
  -webkit-border-radius: 10%;
  border-radius: 10%;
  text-align: center;
}
.pilot-name-container .delete_container_js {
   display: none;
   position: absolute;
   right: -1px;
   top: -6px;
   font-size: 14px;
   cursor: pointer; 
   cursor: hand;
}
.pilot-name-container:hover .delete_container_js {
  display: block;
}
